.cart-container {
  position: sticky;
  top: 0px;
  max-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px 10px;
}

.cart-title {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* button section are here */
.cart-btn-container {
  margin-top: 20px;
}
.cart-btn-container button {
  width: 100%;
  display: block;
  margin-top: 10px;
  background-color: #1c7ab4;
  border: none;
  color: white;
  padding: 10px 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: all .3s ease-in-out;
}
.cart-btn-container button:hover{
  background-color: #388fc5;
}

/* ##### media query are here ##### */
@media (max-width:992px) {
    .cart-container{
        width: 60%;
        height: auto;
        margin: 0 auto;
        position: static;
    }    
}