.product-cart {
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 3px 5px 7px 0 rgba(128, 128, 128, 0.4);
}

.product-cart img {
  border-radius: 8px;
  max-width: 100%;
  height: 220px;
}
.details-section {
  padding: 15px;
  margin-bottom: 60px;
}
.details-section h3 {
  min-height: 60px;
  height: 95px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.btn-container {
  margin-top: 10px;
  justify-content: space-between;
}
.cart-btn {
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  width: 100%;
  border-radius: 0 0 8px 8px;
  background-color: #1c7ab4;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.cart-btn:hover {
  background-color: #388fc5;
}
.cart-btn p {
  font-weight: 600;
  margin-right: 15px;
}
