.product-cart {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 3px 5px 7px 0 rgba(128, 128, 128, 0.4);
}

.product-cart img {
  width: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
}
.btn-container {
  justify-content: space-between;
}
.btn-container h4 {
  margin-right: 15px;
}
.cart-btn {
  justify-content: space-around;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}
.cart-btn p {
  margin-right: 15px;
  font-weight: 600;
}
