.grid-style{
    display: grid;
    gap: 15px;
}
.shop-container{
    max-width: 1250px;
    margin: 30px auto 0;
    grid-template-columns: 4fr 1fr;
}
.single-product{
    grid-template-columns: repeat(3, 1fr);
}